<div class="banner" id = "banner1" >
  <div class="banner-content">
    <h1>Mejor del Mejor</h1>
    <p>Vente privée de micros-lots</p>
    <p>de café d'exception</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
